<button routerLink="" mat-mini-fab color="accent" aria-label="home icon">
    <mat-icon>home</mat-icon>
  </button>
<br>
<h2>{{voivodeship.name | uppercase}}</h2>

<div *ngIf="isStationView" 
class="stations" 
fxLayout="column" 
fxLayoutAlign="space-evenly center" >
  <div *ngFor="let station of stations" 
  (click)="getSensors(station.id); isStationView=false; activeCity=station.city.name+', '+station.addressStreet " >
    <p *ngIf="station.city.commune.provinceName == (voivodeship.name | uppercase)">
        <b>{{ station.city.name }}</b>
        <br> {{ station.addressStreet }}
        <br><i>ID: {{ station.id }}</i>
    </p>
  </div> 
</div>

<div *ngIf="sensors && !isStationView" 
class="sensors">
  <button (click)="isStationView=true;" mat-raised-button color="accent">Powrót</button>
  <h2>{{activeCity | uppercase}}</h2>
  <div fxLayout="column" 
  fxLayoutAlign="space-evenly center">
    <div *ngFor="let sensor of sensors" 
    (click)="getData(sensor.id);">
      <p [title]=sensor.param.paramName>
        <br><b *ngIf="sensor.param.paramName.length<=10">{{ sensor.param.paramName }} </b>
        <b *ngIf="sensor.param.paramName.length>10"> {{ sensor.param.paramCode }} </b>
      </p>
    </div>
  </div>
</div>

<div *ngIf="dataFromSensor && !isStationView" 
class="data"
fxLayout="row" 
fxLayoutAlign="center center">
  <p>
    {{dataFromSensor.values[0].date}}
    <br><b>{{dataFromSensor.values[0].value}}  [µg/m3]</b>
  </p>
</div>
