<button routerLink="" mat-mini-fab color="accent" style="margin:15px;" aria-label="home icon">
    <mat-icon>home</mat-icon>
  </button>
<br>
<h2>{{voivodeship.name | uppercase}}</h2>

<div *ngIf="dataFromSensor" style="background-color:dodgerblue;">
  <p>
    <b>Najnowszy wynik</b> {{dataFromSensor.key}}
    <br><b>Data: </b> {{dataFromSensor.values[0].date}}
    <br><b>Wartość: </b> {{dataFromSensor.values[0].value}}
  </p>
</div>

<div *ngIf="sensors" >
  <div *ngFor="let sensor of sensors" style="margin-top: 20px; background-color: aqua;">
    <p (click)="getData(sensor.id)" >
      <b>ID:</b> {{ sensor.id }}
      <br><b>Nazwa parametru:</b> {{ sensor.param.paramName }}
      <br><b>Skrót:</b> {{ sensor.param.paramCode }}
    </p>
  </div>
</div>

<div *ngFor="let station of stations" style="background-color: aquamarine;">
  <p (click)="getSensors(station.id)" *ngIf="station.city.commune.provinceName == (voivodeship.name | uppercase)">
      <b>ID:</b> {{ station.id }}
      <br><b>Nazwa:</b> {{ station.stationName }}
      <br><b>Miasto:</b> {{ station.city.name }}
  </p>
</div>  